* {
    background-color: darkblue;
}

.section-title {
    display: flex;
    background-color: bisque;
}

.section-right {
    flex-wrap: wrap;
    background-color: blueviolet;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

section {
    display: flexbox;
}

article {
    display: flexbox;
    flex-wrap: wrap;
}