* {
    background-color: tan;
}

.section-title {
    display: flex;
    background-color: blue;
    float: left;
    width: 30%;
}

.section-right {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}

img {
    display: flex;
    width: 200px;
    height: 200px;
}

header h1 {
    display: flex;
    font-weight: bold;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

section {
    display: flex;
    justify-content: start;
}

#project-1 {
    display: flex;
    width: fit-content;
}

article {
    display: flex;
    flex-wrap: wrap;
}